* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    background-color: #f5f5f5;
}

.container {
    padding: 1em 7em;
}

.row {
    /* width: 100%; */
    /* background-color: dodgerblue; */
    /* border: 1px solid #222; */
}

.column {
    width: 100%;
    padding: 0.5em 0; 
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3.5em 1em;
    border-radius: 0.6em;
    box-shadow: 0 0 2.4em rgba(25, 0, 58, 0.1)
}
.card:hover {
    background: linear-gradient(#6045ea, #8567f7);
    color: #fff; 
}
.card:hover a {
    color: #fff;
}
.img_contatiner {
    width: 8em;
    height: 8em;
    border-radius: 50%;
    padding: 0.5em;
    background-color: #a993ff;
    border: 3px solid #a993ff;
    margin-bottom: 2em;
}

.card h2 {
    font-weight: 800;
}
.card p {
    font-weight: 400;
    text-transform: uppercase;
    margin: 0.5em 0 2em 0;
    letter-spacing: 2px;
}

.social {
    width: 50%;
    margin: auto;
    display: flex;
    flex: row nowrap;
    justify-content: space-around;
}

h1 {
    background-color: deepskyblue;
    text-align: center;
}

@media screen and (min-width:1024px) {
    .container {
        padding: 1em;
    }

    .row {
        display: flex;
        flex-wrap: nowrap;
        padding: 2em 1em;
        text-align: center;
    }

    .column {
        /* flex-grow: 0 (공간이 남아도 flex 항목을 늘리지 않는다) */
        /* flex-shrink: 0 (공간이 부족해도 플렉스 항목을 줄이지 않는다) */
        /* flex-basis: 33.33% (flex 항목의 기본 크기를 지정한다) */
        flex: 0 0 33.33%;
        max-width: 33.33%;
        padding: 0 1em;
    }
}