#unit1{
    font-size: 1%;
}

#unit2{
    font-size: 1em;
}
#unit3{
    font-size: 1rem;
}
#unit4{
    font-size: 1vw;
}
#unit5{
    font-size: 1vh;
}
#unit6{
    font-size: 1vmin;
}
#unit7{
    font-size: 1vmax;
}
#unit8{
    font-size: 14px;
}
#unit9{
    font-size: 1cm;
}

