* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.contents {
    background:url("../images/bg.jpg") no-repeat;
    background-size:cover;
    width: 800px;
    height: 500px;
    margin: 0 auto;
    position: relative;
}

.contents h1 {
    color: #fff;
    font-size: 120px;
    text-shadow: 2px 3px 0 #000;
    position: absolute;
    right: 100px;
    bottom: 100px;
}

.circle_shadow {
    border: 1px solid #ccc;
    border-radius: 50%;
    box-shadow: 5px 5px 30px 2px #000;
    margin: 10px 10px;
}

.circle {
    border-radius: 50%;
    /* width: 50%; */
}

.enjoy_leisure {
    border: 1px solid #777;
    margin: 10px auto;
    padding: 10px 0;
    width: 90%;
}
.enjoy_leisure h1 {
    text-align: center;
}

.leisure_item {
    width: 250px;
    height: 340px;
    border: 1px solid #ccc;
    border-radius : 5px;
    float: left;
    margin: 0 10px;
}